/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*GENERAL*/
body {
    color: white;
    font-family: sans-serif ;
}
div {
    border: 2px dashed black;
}
/*UTILITIES*/
.flex {
    display: flex;
}
/*---------------------------------------------------------------------------------*/

/*HEADER*/
header {
   background-color: black;
    height: 80px;
    display: flex;
    align-items: flex-start;
    gap: 5px;
    justify-content: flex-end;
    position: sticky;
    top: 0;
}
.spanHeader {
    background-color: rgb(92, 92, 92);
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
    margin-right: 5px;
}

/*---------------------------------------------------------------------------------*/

/*MAIN*/
main {
    background-color: red;
    width: 100%;
    padding: 20px;
    justify-content: center;
    align-items: center;
}
.container {
    width: 1600px;
    margin: 0 auto;
    height: 1500px;
    flex-direction: column;
    gap: 10px;
}
.row {
    width: 100%;
    height: calc(100% / 5);
    gap: 10px;
   
}
.col {
width: calc(100% / 7);
}


/*---------------------------------------------------------------------------------*/

/*FOOTER*/
footer {
    height: 80px;
    background-color: #222222 ;
    position: sticky;
    bottom: 0;
    width: 100%;
}


